BLOG_ADMIN_HOST=127.0.0.1
BLOG_ADMIN_PORT=18080
BLOG_ADMIN_SOURCE_DIR=/www/wwwroot/blog-admin-source
BLOG_ADMIN_REPO_URL=git@github.com-vistar-blog-admin:achen919/vistar.git
BLOG_ADMIN_BRANCH=main
BLOG_ADMIN_PUBLIC_DIR=/www/wwwroot/blog/public
BLOG_ADMIN_SSH_KEY=/root/.ssh/vistar_blog_admin_ed25519
BLOG_ADMIN_UPDATE_SUBMODULES=0
